In [1]:
import pandas as pd
import numpy as np
import json
import os
f = open('logins.json') # open file
logins = json.load(f)['login_time'] # extract login times
f.close() # close file
df = pd.DataFrame()
df['logins'] = logins
df.logins = pd.to_datetime(logins)
df

                   logins
0     1970-01-01 20:13:18
1     1970-01-01 20:16:10
2     1970-01-01 20:16:37
3     1970-01-01 20:16:36
4     1970-01-01 20:26:21
...                   ...
93137 1970-04-13 18:50:19
93138 1970-04-13 18:43:56
93139 1970-04-13 18:54:02
93140 1970-04-13 18:57:38
93141 1970-04-13 18:54:23

[93142 rows x 1 columns]

In [6]:
df.logins.sort_values()

6       1970-01-01 20:12:16
0       1970-01-01 20:13:18
1       1970-01-01 20:16:10
3       1970-01-01 20:16:36
2       1970-01-01 20:16:37
                ...
93136   1970-04-13 18:48:52
93137   1970-04-13 18:50:19
93139   1970-04-13 18:54:02
93141   1970-04-13 18:54:23
93140   1970-04-13 18:57:38
Name: logins, Length: 93142, dtype: datetime64[ns]